<div class="container">
  <div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="!loading" class="login-action-container" style="text-align:center; margin-top: 2rem;">

    <p style="margin-top:1rem;">Tu sesión ha expirado o no es válida. Por favor, inicia sesión nuevamente.</p>
    <button (click)="startLoginWithCognito()" class="btn btn-primary">Iniciar sesión con Cognito</button>
    <button (click)="startLoginWithGoogle()" class="btn btn-primary">Iniciar sesión con google</button>
    <button (click)="startLoginWithFacebook()" class="btn btn-primary">Iniciar sesión con Facebook</button>

    <br>

    <button (click)="startServerAuth()" class="btn btn-primary">Iniciar autenticación Cognito</button>
  </div>
</div>
